html, body, #root{
  margin: 0px;
  height: 100%;
}

p, h1, h2, h3, h4, h5 {
  margin: 0px;
}

.App {
  min-height: 100%;
  text-align: center;
  background-color: #000;
}


table > tbody > tr {
  transition: all .3s ease-in;
}
table > tbody > tr > td {
  padding: 10px;
  transition: all .3s ease-in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
